<div class="wrapper">
  <h2 class="page-title">Blog</h2>
  <div class="container">
    <h2 class="title">How it all started</h2>
    <div class="content-wrapper">
      <p>
        Dogs of our favorite breed boast good health
        throughout life, which averages 11-14 years.
        There are dogs susceptible to allergies, there is a tendency to Pertes disease,
        conjunctivitis occurs. There is also a predisposition to ear infections,
        because the ears are large and most dogs have a lot of hair on them.
      </p>
      <p>
        It is necessary to ensure that the favorite does not damage the legs during active games,
        from experience I can say that dogs of this breed are very inquisitive and mobile
        and like to jump high. But with an unsuccessful jump from a height, there is a risk of dislocation of the knee cup.
      </p>
      <p>
        In the hot season, when in the sun for a long time, skin can occur
        severe sunburn, so recommend treating delicate skin with sunscreen
        and prevent prolonged exposure to direct sunlight.
      </p>
      <p>
        In the cold season, you must wear Chinese crested clothes in warm clothes on the street.
        As for the house, especially in the unheated period of the year, you can wear sweatshirts
        or shoes and provide a warm, cozy place to relax.
      </p>
      <p>
        I advise you to accustom your puppy to wear special shoes,
        if you plan further extended walks or joint trips to
        cold season. Not superfluous will be a dressed bandana or hat
      </p>
      <p>
        Despite the rather strong health of nature,
        Chinese crested rather gentle and fragile dogs that require
        careful and careful attitude of the loving master.
      </p>
    </div>
  </div>
</div>
