<main id="main">
  <!---------- Home ---------->
  <div id="home">

    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Professional Dog handlers & felinologists
          </h2>
          <p class="first-screen__desc">Cattery Dogs & Cats.<br>Puppies and kitties for sale</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>Team</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="res/team.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>History</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="res/history.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Blog</h2>
          <div>
            <a href="#blog">
              <img class="default-image" src="res/blog.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section" id="about">
      <div class="container">
          <h1 class="section__title title">ABOUT US</h1>
    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Nadia</p>
              <span>Director</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Tatyana</p>
              <span>Dog handler & felinologist</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Nina</p>
              <span>Dog handler & felinologist</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img04.jpg" alt="" />
            </div>
            <div>
              <p>Rezunov Maksim</p>
              <span>Developer</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 4 github link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 4 vk link"
              /></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">Our History</h2>
          <div class="content-wrapper">
            <p>
              If you are on our website, then you too are not indifferent to this unique breed -
              <strong>CHINESE CRESTED DOG</strong>.
              Here you will learn more about these amazing dogs!
            </p>
            <blockquote>
              «Everyone has the dog he deserve»<br/>&copy;
              <i> German dog handler H. Swarowski </i>
            </blockquote>
            <p>
              In fact, our nursery
              <strong>Chinese crested dogs</strong>
              exists since 2008, officially registered in 2009.
              In May 2019, we celebrate the Anniversary of the nursery - we are 10 years old!
              Over 10 years of tribal work in the nursery, 60 litters (236 puppies) were received.
            </p>
            <details>
              <summary>Our Chinese crested dogs live in cities:</summary>
              <ol>
                <li> Alexandrov, Anapa, Angarsk, Apatity </li>
                <li> Belgorod, Blagoveshchensk, Bratsk, Bugulma </li>
                <li> Veliky Novgorod, Vladimir, Voronezh </li>
                <li> Dzerzhinsk </li>
                <li> Ivanovo, Izhevsk, Irkutsk </li>
                <li> Kaluga, Konakovo, Kostroma, Krasnodar, Krasnoyarsk </li>
                <li> Mirny, Moscow, Muravlenko, Murmansk, Mytishchi </li>
                <li> Nizhny Novgorod, Novokuznetsk, Novosibirsk, Novy Urengoy </li>
                <li> Pereslavl-Zalessky, Pskov </li>
                <li> Rostov-on-Don, Ryazan, Rybinsk </li>
                <li> St. Petersburg, Sochi, Severodvinsk, Smolensk </li>
                <li> Tambov, Tver, Togliatti, Tomsk, Torzhok, Tuapse, Tula, Tutaev </li>
                <li> Ulyanovsk, Usolye-Sibirskoye </li>
                <li> Furmanov, Khabarovsk, Khanty-Mansiysk </li>
                <li> Cheboksary, Chelyabinsk, Cherepovets, Chita </li>
                <li> Yuzhno-Sakhalinsk, Yaroslavl; </li>
                <li> Also in Estonia, Italy, Brazil. </li>
              </ol>
            </details>
            <p>
              Our goal is to get healthy adequate dogs,
              with a stable psyche, trainees and active,
              meet the requirements of the standard as much as possible.
              Such a puppy will be for you an ideal friend and companion, a member of the family.
            </p>
            <p>
              None of our <strong> Chinese crested dogs </strong> are contained
              in cages/aviaries or separate rooms.
              All dogs are full members of our family,
              communicate closely with other animals and people.
            </p>
          </div>
        </div>
    </section>

    <!---------- Video ---------->
    <!--<section id="about-video">
      <h2 class="title">See More</h2>
      <div class="video-responsive">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </section>-->

  <!---------- Location ---------->
  <section id="location">
    <h2 class="title">LOCATION</h2>
    <div class="container">
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1qVj2_lOy6XWUeyoUMi60sjv6MoM"
          width="640" height="480" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>
</main>