<main id="main">
  <!---------- Home ---------->
  <div id="home">

    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Professional Dog handlers & felinologists
          </h2>
          <p class="first-screen__desc">Cattery Dogs & Cats.<br>Puppies and kitties for sale</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>Team</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="res/team.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>History</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="res/history.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Blog</h2>
          <div>
            <a href="#blog">
              <img class="default-image" src="res/blog.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section" id="about">
      <div class="container">
          <h1 class="section__title title">ABOUT US</h1>
    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Nadia</p>
              <span>Director</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Tatyana</p>
              <span>Dog handler & felinologist</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Avramenko Nina</p>
              <span>Dog handler & felinologist</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img04.jpg" alt="" />
            </div>
            <div>
              <p>Rezunov Maksim</p>
              <span>Developer</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 4 github link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 4 vk link"
              /></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">How it all started</h2>
          <div class="content-wrapper">
            <blockquote>
              «Each dog must have its own person» <br/>&copy;
              <i> Avramenko Tatyana </i>
            </blockquote>
            <p>
              Hello to everyone, my good ones!
              Welcome to our warm, family site!
              Here we tried to answer all the basic questions about dogs and seals:
              Chinese crested breed, Russian toy terrier, papillon (papillon)
              (continental toy-spaniel), as well as Scottish chinchillas, Neva masquerade cats.
              So! My name is Tatyana, I have been breeding the Chinese crested breed since 2014.
              I live in Belarus, in a small but very beautiful town on the banks of the Dnieper River
              in the Gomel region, in Rechitsa. < br >
              Since childhood, I love children and zhivotnykh😻
            </p>
            <p>
              My first memories are very bright, joyful and associated with kotyatami🤗
              I remember that in childhood it happened that newborn kittens were left in a ditch,
              and I found and fed them from the pipette and found loving owners as a teenager.
              People knew that I was nursing animals, so I more than once found animal foundries under the door.
            </p>
            <p>
              Love for our smaller brothers was given to me from above and my whole life
              from the earliest childhood associated with zhivotnymi🤗
              Already as an adult, in our family we always lived with animals.
              Our family is big:
              three children, many different animals, so it was never boring.
              I love fuss, running and veselye🥰
              Very rarely can you see me at the height of the day sitting in one place in the tishine😂
            </p>
            <h3>The Birth of My Love for a Chinese Crested Dog</h3>
            <p>
              I will tell you how my great love for this wonderful breed was born
              <strong> Chinese crested. </strong>
              My nephew talked to the breeders of this breed and invited me to go
              look at the newly born babies.
            </p>
            <p>
              I've had animals all my life and I've always loved them.
              There have always been different breeds of dogs in the family: collie, toy terrier, taxi...
              there were Persian cats, sphinx, Siamese and Angora cats, there were still rats,
              mice and hamsters, guinea pigs, parrots and even a hedgehog and dove lived at one time.
              Of course, not at the same time, so that you are not afraid!
            </p>
            <p>
              We always lived together, together with the children we always looked after animals!
            </p>
            <p>
              At that time, I had only a cat at home and it seemed that something was missing in my soul,
              namely, I wanted to have a dog. I was going to buy a dog of the toyterrier breed
              and for the sake of curiosity, I went to look at an unusual breed for me....
            </p>
            <p>
              As soon as I saw this chocolate nose and huge white ears...
              and these eye buttons drove me crazy, and inside like something clicked,
              I could not think about anything more and fell in love with her without memory!
            </p>
            <p>
              This day changed my whole life and I am grateful to fate,
              that this little girl showed up! And now I can't imagine life without it!
            </p>
            <p>
              March 7, 2013 is a special day for me:
              my favorite Rebecca was born, affectionately Bekkichka!
            </p>
            <p>
              Apparently it was the fate to meet Becky,
              to know and love this wonderful breed,
              after all, at that time almost no one knew about them in our city.
            </p>
            <p>
              I wish you to find happiness in the form of your beloved pet!
              I am always warm at heart when I talk about my favorites and hope,
              that it will also touch your hearts warmly.
            </p>
          </div>
        </div>
    </section>

    <!---------- Video ---------->
    <section id="about-video">
      <h2 class="title">See More</h2>
      <div class="video-responsive">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </section>

  <!---------- Location ---------->
  <section id="location">
    <h2 class="title">LOCATION</h2>
    <div class="container">
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1qVj2_lOy6XWUeyoUMi60sjv6MoM"
          width="640" height="480" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>
</main>