<div class="wrapper">
  <h1 class="section__title title">О нас</h1>
  <div class="container">

    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Надежда</p>
              <span>Директор</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Татьяна</p>
              <span>Кинолог и фелинолог</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Нина</p>
              <span>Кинолог и фелинолог</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">Как все начиналось</h2>
          <div class="content-wrapper">
            <blockquote>
              «Для каждой собаки обязательно найдется свой человек» <br/>
              <i> Авраменко Татьяна </i>
            </blockquote>
            <p>
              Всем привет, мои хорошие!
              Добро пожаловать на наш теплый, семейный сайт!
              Здесь мы постарались ответить на все основные вопросы о собаках и котиках:
              порода китайская хохлатая, русский той-терьер, папильон (папийон)
              (континентальный той-спаниель), а также шотландские шиншиллы, невские маскарадные коты.
              Итак! Меня зовут Татьяна, занимаюсь разведением породы китайская хохлатая с 2014 года.
              Я живу в Беларуси, в небольшом, но очень красивом городке на берегу реки Днепр
              в Гомельской области, в Речице.<br>
              С детства люблю детей и животных😻
            </p>
            <p>
              Мои первые воспоминания очень светлые, радостные и связаны с котятами🤗 
              Помню, в детстве бывало такое, что новорожденных котят оставляли в канаве,
              а я находила и выкармливала их из пипетки и подросшим находила любящих хозяев. 
              Люди знали, что я выхаживаю животных, поэтому я не раз обнаруживала под дверью животных подкидышей. 
            </p>
            <p>
              Любовь к братьям нашим меньшим была дана мне свыше и вся моя жизнь
              с самого раннего детства связана с животными🤗
              Уже будучи взрослой, в своей семье мы всегда жили с животными.
              Семья у нас большая: 
              трое детей, много разных животных, поэтому никогда не было скучно.
              Я люблю суету, беготню и веселье🥰
              Очень редко можно увидеть меня в разгар дня сидя на одном месте в тишине😂
            </p>
            <h3>Рождение моей любви к китайской хохлатой собаке</h3>
            <p>
              Расскажу как родилась моя огромная любовь к этой чудесной породе
              <strong>китайская хохлатая. </strong>
              Мой племянник общался с заводчиками этой породы и предложил мне сходить
              посмотреть на недавно родившихся малышей. 
            </p>
            <p>
              У меня всю жизнь были животные и я всегда их любила.
              В семье всегда были разные породы собак: колли, той-терьер, таксы...
              были персидские коты, сфинкс, сиамская и ангорская кошки, ещё были крыски,
              мышки и хомяки, морские свинки, попугаи и даже одно время жил ёжик и голубь.
              Конечно же не одновременно, чтобы вы не пугались!
            </p>
            <p>
              Мы всегда жили дружно, вместе с детьми всегда ухаживали за животными!
            </p>
            <p>
              В то время у меня был дома только котик и в душе как-будто чего-то не хватало,
              а именно хотелось завести собачку. Я собиралась покупать собаку породы тойтерьер
              и ради любопытства пошла посмотреть на необычную для меня породу....
            </p>
            <p>
              Как только я увидела этот шоколадный нос и огромные белые ушки...
              и эти глазки пуговки свели меня с ума, а внутри как-будто что-то щелкнуло,
              я не могла больше ни о чем думать и влюбилась в неё без памяти!
            </p>
            <p>
              Этот день изменил всю мою жизнь и я благодарна судьбе,
              что эта малышка у появилась! И сейчас не представляю жизнь без неё!
            </p>
            <p>
              7 марта 2013 года для меня особенный день:
              появилась на свет моя любимка Ребекка, ласково Беккичка!
            </p>
            <p>
              Видимо это была судьба встретиться именно с Бекки,
              узнать и полюбить эту замечательную породу,
              ведь в то время в нашем городе про них почти никто не знал.
            </p>
            <p>
              Желаю и вам обрести счастье в виде любимого питомца!
              Мне всегда тепло на душе когда я рассказываю о любимцах и надеюсь,
              что это тепло коснется и ваших сердец.
            </p>
          </div>
        </div>
    </section>

    <!---------- Video ---------->
    <section id="about-video" class="container">
      <div style="width: 640px;">
        <h2 class="title">Больше</h2>
        <div class="video-responsive">
          <iframe
            width="640"
            height="368"
            src="res/video/video_2021-05-10_17-34-58.mp4"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>

  </div>
</div>
