<div class="wrapper">
  <h2 class="page-title">Как понять, кто родится у китайской хохлатой собаки?</h2>
  <div class="container">
    <div class="content-wrapper">
      <img class="big-image" src="res/blog/blog3.jpg" alt="Как понять, кто родится у китайской хохлатой собаки?"/>
      <div>
        <p>
          Порода китайская хохлатая уникальна тем, что есть две разновидности собак по типу шерсти: голые и пуховые.
        </p>
        <p>
          И никогда не угадаешь кто родится на этот раз В одном помете могут быть одновременно и голые и пуховые собачки. Могут быть только голыши или только пуховые мишутки. Могут быть разные по размеру: мини и стандарт братики и сестрички одновременно в одном помете.
        </p>
        <p>
          Я так радуюсь каждый раз новым щеночкам, потому что каждый уникален в своем роде и за все годы у меня не было ни одного одинакового малыша!
        </p>
        <p>
          Поэтому, если вы решили приобрести себе собачку именно этой породы, будьте уверены, что у вас эксклюзивный пёсик и другого точно такого же нет ни у кого 1️⃣0️⃣0️⃣ процентов!
        </p>
        <h3>
        <p>
          Отличие голых хохлатых от пуховых в том, что у них на голове, хвостике и лапках есть шерсть, по структуре своей больше напоминающей волосы. Остальные участки могут быть полностью лишены волос (гладкая кожа) или может присутствовать небольшой пушок.
        </p>
        <p>
          Есть также "семикоты" - это собачки, также относящиеся к голым, у которых волосяной покров на значительной части тела, голым оказывается только животик.
        </p>
        <p>
          Люди, у которых появилась порода китайская хохлатая часто говорят мне, что замечают сверхъестественные лечебные способности у своего любимца , что у собачки такое нежное и любящее сердце и она безошибочно угадывает плохое настроение и приходит, чтобы утешить. Большинство болезней имеют психологическое начало, а cобака помогает быстрее поправиться или не заболеть и вовсе.</p>
        <p>
        </h3>
        Каждый малыш любимый и каждый красивый и достоен самой любящей семьи!
      </p>
      </div>
    </div>
  </div>
</div>
