<div class="wrapper">
  <h2 class="page-title">Как ставить уши у китайской хохлатой собаки?</h2>
  <div class="container">
    <div class="content-wrapper">
      <img class="big-image" src="res/blog/blog2.jpg" alt="Как ставить уши у китайской хохлатой собаки?"/>
      <div>
        <p>
          Ставить ушки очень просто у породы китайскаях охлатая :)
        </p>
        <p>
          Вам понадобится обычный пластырь в катушке, антисептик, машинка для стрижки волос и желание!
        </p>
        <p>
          Я начинаю ставить ушки когда щенкам исполняется три месяца. У собачек этой породы обязательно ушки должны стоять, не должно быть провисаний и заломов. Это просто, стоит только систематически приклеивать ушки до момента закрепления хрящиков. У пуховичков допускаются висячие ушки, что на мой взгляд выглядит очень миленько.
        </p>
        <p>
          Итак, если вы ставите ушки у щенка, то нужно соблюдать несколько простых условий и у вас обязательно получится!
        </p>
        <p>
          Первое, что рекомендую сделать-это удалить лишние волоски с ушек малыша внутри и снаружи. Я использую обыкновенную машинку для стрижки волос. Это нужно сделать для того, чтобы облегчить ушко, ведь нежные хрящики довольно слабые и лишняя нагрузка им ни к чему и волосы не будут причинять дополнительного дискомфорта щенку при снятии пластыря.
        </p>
        <p>
          Второе-это обязательная обработка антисептиком. Можно использовать Хлоргексидин или специальное средство для обработки ушных раковин, продаётся в ветаптеке. После этого обязательно просушить ушко ватным диском.
        </p>
        <p>
          Пластырь лучше использовать из нетканой вискозы (такой используют для фиксации повязок ссадин и ран). Такой пластырь гипоаллергенный, не вызывает раздражение и даёт нежной коже дышать, хорошо приклеивается и не оставляет следов клея. Лучше использовать катушечный пластырь по ширине ушка либо предварительно склеить узкие полоски в одну.
        </p>
        <p>
          Дальше слегка оттягиваем ушко и проклеиваем как можно глубже, но не закрываем ушной проход.
        </p>
        <p>
          Когда два ушка у нас проклеены с внутренней стороны, отрезаем еще одну небольшую полоску, чуть длинее, чем предыдущие и обклеиваем ушко по окружности. Для начала ушко нужно свернуть в трубочку, оставив внутри небольшое пространство, чтобы оно дышало. Как можно ближе к основанию ушка приклеиваем край полоски пластыря и обматываем его по кругу.
        </p>
        <p>
          Если уши свисают, нужно зафиксировать, соединив между собой еще одной полосой пластыря.
        </p>
        <p>
          Обязательно нужно снимать на ночь пластырь, чтобы ушки отдохнули. Снимаем резкими движениями в несколько подходов, протираем антисептиком
        </p>
        <p>
          Повторять до полного укрепления хрящиков!
        </p>
      </div>
    </div>
  </div>
</div>
