<div class="wrapper">
  <h2 class="page-title">Блог</h2>
  <div class="container">
    <div class="content-wrapper">
      <article><h3>
        Здоровье породы китайская хохлатая собака
      </h3></article>
      <p>
        Собачки нашей любимой породы могут похвастаться хорошим здоровьем
        на притяжении всей жизни, которая в среднем 11-14 лет.
        Бывают собаки, подверженые аллергии, свойственна склонность к болезни Пертеса,
        бывает конъюнктивит . Также есть предрасположенность к ушным инфекциям,
        потому что ушки большого размера и на них у большинства собачек много волос.
      </p>
      <p>
        Нужно обязательно следить, чтобы любимец не повредил лапки при активных играх,
        по опыту могу сказать, что собаки этой породы очень любознательные и подвижные
        и любят высоко прыгать. Но при неудачном прыжке с высоты есть риск вывиха коленной чашечки.
      </p>
      <p>
        В жаркое время года при длительном нахождении на солнце на коже могут возникнуть
        сильные солнечные ожоги, поэтому рекомендую обрабатывать нежную кожу солнцезащитным кремом
        и не допускать длительное нахождение под прямыми солнечными лучами.
      </p>
      <p>
        В холодное время года нужно обязательно одевать китайскую хохлатую в теплую одежду на улице.
        Что касается дома, особенно в неотапливаемый период года, можно одевать кофточки
        или маечки и обеспечить теплым уютным местом для отдыха.
      </p>
      <p>
        Советую приучать к тому, чтобы ваш щенок носил специальную обувь,
        если вы планируете в дальнейшем продолжительные прогулки или совместные поездки в
        холодное время года. Не лишним будет одетая бандана или шапочка 
      </p>
      <p>
        Несмотря на довольно крепкое здоровье от природы,
        китайские хохлатые довольно нежные и хрупкие собаки, которые требуют
        внимательно и бережного отношения любящего хозяина.
      </p>
    </div>
  </div>
</div>
