<div class="wrapper">
  <h1 class="page-title">Статьи о собаках и кошках
  </h1>
  <div class="container">
    <div class="content-wrapper">
      <p>
        Всем привет! Добро пожаловать на наш теплый, семейный сайт! Здесь мы постарались ответить на все основные вопросы о собаках и котиках: порода китайская хохлатая, русский той-терьер, папильон (папийон) (континентальный той-спаниель), а также шотландские шиншиллы, невские маскарадные коты.
      </p>
      <div>
        <!---------- Row ---------->
        <div class="cards">
 
          <!-- post1 -->
          <div class="card">
            <div>
              <a href="#blogpost1"><img class="default-image" src="res/blog/blog1.jpg" alt="Здоровье породы китайская хохлатая собака"/></a>
            </div>
            <div>
              <a href="#blogpost1"><p>Здоровье породы китайская хохлатая собака</p></a>
            </div>
          </div>

          <!-- post2 -->
          <div class="card">
            <div>
              <a href="#blogpost2"><img class="default-image" src="res/blog/blog2.jpg" alt="Как ставить уши у китайской хохлатой собаки?"/></a>
            </div>
            <div>
              <a href="#blogpost2"><p>Как ставить уши у китайской хохлатой собаки?</p></a>
            </div>
          </div>

          <!-- post3 -->
          <div class="card">
            <div>
              <a href="#blogpost3"><img class="default-image" src="res/blog/blog3.jpg" alt="Как понять, кто родится у китайской хохлатой собаки?"/></a>
            </div>
            <div>
              <a href="#blogpost3"><p>Как понять, кто родится у китайской хохлатой собаки?</p></a>
            </div>
          </div>

          <!-- post4 -->
          <div class="card">
            <div>
              <a href="#blogpost4"><img class="default-image" src="res/blog/blog4.jpg" alt="Как приучить щенка к пелёнке?"/></a>
            </div>
            <div>
              <a href="#blogpost4"><p>Как приучить щенка к пелёнке?</p></a>
            </div>
          </div>

          <!-- post5 -->
          <div class="card">
            <div>
              <a href="#blogpost5"><img class="default-image" src="res/blog/blog5.jpg" alt="Как ухаживать за внешним видом китайской хохлатой собаки?"/></a>
            </div>
            <div>
              <a href="#blogpost5"><p>Как ухаживать за внешним видом китайской хохлатой собаки?</p></a>
            </div>
          </div>

          <!-- post6 -->
          <div class="card">
            <div>
              <a href="#blogpost6"><img class="default-image" src="res/blog/blog6.jpg" alt="Можно ли гулять китайской хохлатой босиком в холодное время года?"/></a>
            </div>
            <div>
              <a href="#blogpost6"><p>Можно ли гулять китайской хохлатой босиком в холодное время года?</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
