<div class="wrapper">
  <h2 class="page-title">Персифона</h2>
  <div class="container">
    <div class="content-wrapper">
      <img class="big-image" src="res/cats/cat1.jpg" alt="Персифона"/>
      <div>
        <p>Шотландская прямоухая кошка уникального окраса золотая шиншилла,
          у неё волос прокрашен таки образом, что кончик на 1/8 темный,
          а по длине светлый, засчет чего кошка как-будто окутана дымкой.</p>
        <p>На ощупь она плюшевая, мягкая, мордочка кругленькая, зелёные глазки,
          носик и ротик обрамляет природный черный макияж.
          Подушечки лапок черные.</p>
      </div>
    </div>
  </div>
</div>
