<div class="wrapper">
  <h2 class="page-title">Кошки</h2>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="dessert">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
        </select>
      </form>
    </div>
    <section class="goods">
      <ul class="goods__list">
        <p class="goods__info">Нет кошек</p>
      </ul>
    </section>
  </div>
</div>
