<div class="wrapper">
  <h1 class="page-title">Каталог кошек-полный список пород кошек с фото
  </h1>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="dessert">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
        </select>
      </form>
    </div>
    <div class="content-wrapper">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- cat1 -->
          <div class="card">
            <div>
              <a href="#catpost1"><img class="default-image" src="res/cats/cat1.jpg" alt="Персифона"/></a>
            </div>
            <div>
              <a href="#catpost1"><p>Персифона</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
