<div class="wrapper">
  <h1 class="page-title">Кошки</h1>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="dessert">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
        </select>
      </form>
    </div>
    <div class="content-wrapper">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/cats/cat1.jpg" alt="Персифона" />
            </div>
            <div>
              <p>Персифона</p>
              <p>Шотландская прямоухая кошка уникального окраса золотая шиншилла,
                у неё волос прокрашен таки образом, что кончик на 1/8 темный,
                а по длине светлый, засчет чего кошка как-будто окутана дымкой.</p>
              <p>На ощупь она плюшевая, мягкая, мордочка кругленькая, зелёные глазки,
                носик и ротик обрамляет природный черный макияж.
                Подушечки лапок черные.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
