<div class="wrapper">
  <h1 class="page-title">Каталог собак-полный список пород собак с фото
  </h1>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="coffee">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
          <option value="price">Цена</option>
          <option value="price desc">Цена по убыв.</option>
        </select>
      </form>
    </div>
    <div class="content-wrapper">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- dog1 -->
          <div class="card">
            <div>
              <a href="#dogpost1"><img class="default-image" src="res/dogs/dog1.jpg" alt="Бонита"/></a>
            </div>
            <div>
              <a href="#dogpost1"><p>Бонита</p></a>
            </div>
          </div>
          <!-- dog2 -->
          <div class="card">
            <div>
              <a href="#dogpost2"><img class="default-image" src="res/dogs/dog2.jpg" alt="Ребекка"/></a>
            </div>
            <div>
              <a href="#dogpost2"><p>Ребекка</p></a>
            </div>
          </div>
          <!-- dog3 -->
          <div class="card">
            <div>
              <a href="#dogpost3"><img class="default-image" src="res/dogs/dog3.jpg" alt="Бенжамин"/></a>
            </div>
            <div>
              <a href="#dogpost3"><p>Бенжамин</p></a>
            </div>
          </div>
          <!-- dog4 -->
          <div class="card">
            <div>
              <a href="#dogpost4"><img class="default-image" src="res/dogs/dog4.jpg" alt="Ди-Джей"/></a>
            </div>
            <div>
              <a href="#dogpost4"><p>Ди-Джей</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
