<div class="wrapper">
  <h2 class="page-title">Собаки</h2>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="coffee">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
          <option value="price">Цена</option>
          <option value="price desc">Цена по убыв.</option>
        </select>
      </form>
    </div>
  </div>
</div>
