<main id="main">
  <!---------- Home ---------->
  <div id="home">

    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Лучшие кинологи и фелинологи
          </h2>
          <p class="first-screen__desc">Питомник Dogs & Cats.<br>Щенки и котята на продажу</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>Команда</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="res/team.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>История</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="res/history.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Блог</h2>
          <div>
            <a href="#blog">
              <img class="default-image" src="res/blog.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section" id="about">
      <div class="container">
          <h1 class="section__title title">О нас</h1>
    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Надежда</p>
              <span>Директор</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Татьяна</p>
              <span>Кинолог и фелинолог</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Авраменко Нина</p>
              <span>Кинолог и фелинолог</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img04.jpg" alt="" />
            </div>
            <div>
              <p>Резунов Максим</p>
              <span>Разработчик</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 4 github link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 4 vk link"
              /></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">Наша история</h2>
          <div class="content-wrapper">
            <p>
              Если вы зашли на наш сайт, значит вы тоже неравнодушны к этой неповторимой породе -
              <strong>КИТАЙСКАЯ ХОХЛАТАЯ СОБАКА</strong>.
              Здесь вы подробнее узнаете об этих удивительных собачках!
            </p>
            <blockquote>
              «Каждый имеет ту собаку, которую заслуживает» <br/>&copy;
              <i> Немецкий кинолог Х. Сваровски </i>
            </blockquote>
            <p>
              Фактически наш питомник
              <strong>китайских хохлатых собак</strong>
              существует с 2008 года, официально зарегистрирован в 2009 году.
              В мае 2019 года мы празднуем Юбилей питомника - нам исполняется 10 лет!
              За 10 лет племенной работы в питомнике было получено 60 пометов (236 щенков).
            </p>
            <details>
              <summary>Наши китайские хохлатые живут в городах:</summary>
              <ol>
                <li> Александров, Анапа, Ангарск, Апатиты </li>
                <li> Белгород, Благовещенск, Братск, Бугульма </li>
                <li> Великий Новгород, Владимир, Воронеж </li>
                <li> Дзержинск </li>
                <li> Иваново, Ижевск, Иркутск </li>
                <li> Калуга, Конаково, Кострома, Краснодар, Красноярск </li>
                <li> Мирный, Москва, Муравленко, Мурманск, Мытищи </li>
                <li> Нижний Новгород, Новокузнецк, Новосибирск, Новый Уренгой </li>
                <li> Переславль-Залесский, Псков </li>
                <li> Ростов-на-Дону, Рязань, Рыбинск </li>
                <li> Санкт-Петербург, Сочи, Северодвинск, Смоленск </li>
                <li> Тамбов, Тверь, Тольятти, Томск, Торжок, Туапсе, Тула, Тутаев </li>
                <li> Ульяновск, Усолье-Сибирское </li>
                <li> Фурманов, Хабаровск, Ханты-Мансийск </li>
                <li> Чебоксары, Челябинск, Череповец, Чита </li>
                <li> Южно-Сахалинск, Ярославль; </li>
                <li> А также в Эстонии, Италии, Бразилии. </li>
              </ol>
            </details>
            <p>
              Наша цель - получение здоровых адекватных собак,
              с устойчивой психикой, обучаемых и активных,
              максимально соответствующих требованиям стандарта.
              Такой щенок станет для вас идеальным другом и компаньоном, членом семьи.
            </p>
            <p>
              Ни одна из наших <strong>китайских хохлатых собак</strong> не содержится
              в клетках/вольерах или отдельных помещениях.
              Все собаки - полноправные члены нашей семьи,
              тесно общаются с другими животными и людьми.
            </p>
          </div>
        </div>
    </section>

    <!---------- Video ---------->
    <!--<section id="about-video">
      <h2 class="title">Больше</h2>
      <div class="video-responsive">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </section>-->

  <!---------- Location ---------->
  <section id="location">
    <h2 class="title">Локация</h2>
    <div class="container">
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1qVj2_lOy6XWUeyoUMi60sjv6MoM"
          width="640" height="480" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>
</main>