<main id="main">
  <!---------- Home ---------->
  <div id="home">

    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Лучшие кинологи и фелинологи
          </h2>
          <p class="first-screen__desc">Питомник Dogs & Cats.<br>Щенки и котята на продажу</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>Команда</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="res/team.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>История</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="res/history.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Блог</h2>
          <div>
            <a href="#blog">
              <img class="default-image" src="res/blog.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!---------- Текст на лендинге ---------->
    <section class="section" id="history">
      <div class="container">
        <h2 class="title">Наша деятельность</h2>
        <div class="content-wrapper">
          <p>
            Рады, что Вы посетили наш сайт!
          </p>
          <p>
            Питомник Dogs&Cats занимается профессиональным разведением собак пород китайская хохлатая и той-терьер. Все животные имеют необходимые сертификаты и прививки, а также отличаются отменным здоровьем, так как за этим тщательно следят сотрудники нашего питомника.
          </p>
          <p>
            Питомцы живут с нами как с членами семьи, выгуливаются на улице, у них не ограничено пространство. Мы дарим им много любви и заботы. Вы можете забрать понравившегося щенка или котика после того, как он будет достаточно самостоятельным.
          </p>
          <p>
            В питомник можно приехать в любое время для того чтобы увидеть своими глазами очаровательных щенков и котят, выбрать, договориться с оформлением документов, а также подружиться с будущим домашним питомцем.
          </p>
          <p>
            На сайте представлены щенки и котята готовые к переезду к новым хозяевам. Дополнительно проводятся профессиональные консультации по уходу за животными в домашних условиях.
          </p>
          <p>
            Возможно именно у нас Вы найдёте своего маленького, преданного друга с огромным любящим сердцем!
          </p>
        </div>
      </div>
  </section>

  </div>
</main>