<main id="main">
  <!---------- Home ---------->
  <div id="home">

    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Лучшие кинологи и фелинологи
          </h2>
          <p class="first-screen__desc">Питомник Dogs & Cats.<br>Щенки и котята на продажу</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>Команда</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="res/team.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>История</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="res/history.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Блог</h2>
          <div>
            <a href="#blog">
              <img class="default-image" src="res/blog.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>