<div class="wrapper">
  <h1 class="page-title">Нашли хозяина - наши выпускники
  </h1>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="coffee">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
          <option value="price">Цена</option>
          <option value="price desc">Цена по убыв.</option>
        </select>
      </form>
    </div>
    <div class="content-wrapper">
      <div>
        <h3><article>
          Уже дома
          </h3></article>
        <p>
          Найти дом для каждого подопечного — наша заветная мечта. Мы счастливы, когда нам удается приблизиться к своей главной цели.
          </p>
        <p>
          В этом разделе собраны истории наших выпускников, уже встретивших своих людей. Возможно, совсем скоро здесь появится рассказ о вашем новом питомце.
        </p>
        <!---------- Row ---------->
        <div class="cards">
          <!-- graduate1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/graduates/cat1.jpg" alt="Андромеда"/>
            </div>
            <div>
              <p>Андромеда</p>
            </div>
          </div>
          <!-- graduate2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/graduates/dog1.jpg" alt="Лютик"/>
            </div>
            <div>
              <p>Лютик</p>
            </div>
          </div>
          <!-- graduate3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/graduates/dog2.jpg" alt="Геральт"/>
            </div>
            <div>
              <p>Геральт</p>
            </div>
          </div>
          <!-- graduate4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/graduates/dog3.jpg" alt="Шарик"/>
            </div>
            <div>
              <p>Шарик</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
